.main-title{
    text-align:center;
    font-size:42px;
    font-weight:bold;
    color:#0F172A;
}

.sub-title{
    text-align:center;
    font-size:18px;
    color:#555;
    margin-bottom:30px;
}

.result-box{
    background:#F8FAFC;
    border-radius:12px;
    padding:20px;
    border:1px solid #ddd;
}

.footer{
    text-align:center;
    margin-top:40px;
    color:gray;
    font-size:14px;
}